

<button class="btn-success" style="border-radius:5px;"><a asp-controller="Purchases" asp-action="Create" style="text-decoration:none; color:white;">Back</a></button>

<br />
<div class="card col-md-8" style="margin-left:auto; margin-right:auto;">
    <div class="card-body alert-primary">
        <h4 class="fadeInOut" style="text-align:center;color:crimson">Purchase(s) is successfully saved</h4>
    </div>
</div>