
<br />
<br />

<div class="card fadeInOut alert-primary justify-content-center" style="text-align:center;">
    <h4 style="text-align:center;color:crimson">Records of @ViewBag.PatientName</h4>
    <h4 style="text-align:center;color:crimson">has been editted successfully</h4>
</div>

