@{
    ViewData["Title"] = "Success";
}


    <button class="btn-success" style="border-radius:5px;"><a asp-controller="CONSULT" asp-action="Index" style="text-decoration:none; color:white;">Back</a></button>

    <br />
    <div class="card col-md-8" style="margin-left:auto; margin-right:auto;">
    <div class="card-body alert-primary">
        <h4 class="fadeInOut" style="text-align:center;color:crimson">Patient's Examination is successfully Saved</h4>
        </div>
    </div>
