<p>
    <button class="btn-success" style="border-radius:5px;"><a asp-action="Create" asp-controller="OCT" style="text-decoration:none;color:white">Previous Page</a></button>
</p>
<div class="card fadeInOut" style="display:flex; justify-content:center;background-color:cadetblue; color:white;">
    <h3 style="text-align:center; color:brown"> Patient added successfully</h3></div>
