@model AnwiamEyeClinicServices.Models.RetinalImage

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RetinalImage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="scanId" class="control-label"></label>
                <input asp-for="scanId" class="form-control" />
                <span asp-validation-for="scanId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="patientName" class="control-label"></label>
                <input asp-for="patientName" class="form-control" />
                <span asp-validation-for="patientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="referredDrName" class="control-label"></label>
                <input asp-for="referredDrName" class="form-control" />
                <span asp-validation-for="referredDrName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="reFfacility" class="control-label"></label>
                <input asp-for="reFfacility" class="form-control" />
                <span asp-validation-for="reFfacility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
