@model AnwiamEyeClinicServices.Models.Opd

@{
    ViewData["Title"] = "Register";
}

 @if (User.IsInRole("opd"))
{
    <div class="alert-primary d-flex justify-content-center">
        <h5 style="text-align:center; font-weight:bold; color:darkblue; margin-left:-22%; margin-right:20%;"> Search Records by Date</h5>
        @using (Html.BeginForm("DailyRecordsOPD", "OPD", FormMethod.Post))
        {
            <input type="date" value="" placeholder="YYYY-MM-DD" name="date" style="border:solid lightblue 3px; border-end-start-radius:5px;" />
            <button type="submit" class="btn btn-primary btn-outline-light">Daily Records</button>
        }
    </div>
    <a href="">
        <div class="d-flex justify-content-center">

            <div class="card col-md-5 border-2">

                <div class="card-header d-inline-flex justify-content-start bg-primary ">
                    <a asp-action="Create"><button class="btn-warning" style="border-radius:5px;">Refresh</button></a>
                    <div style="margin-left:15%;"></div>
                    <h4 style="text-align:center;color:white;">Patient Registry </h4>

                </div>
                <div class="card-body col-md-12 alert-primary" style="display:flex; justify-content:space-between;">
                    <div class="row col-md-12">
                        <div class="col-md-12">
                            @using (Html.BeginForm("Create", "OPD", FormMethod.Post))
                            {
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row mb-3">
                                    <label asp-for="PatientId" class="col-sm-3 col-form-label col-form-label-md">OPD No</label>
                                    <div class="col-sm-8">
                                        <input type="text" value="" name="PatientId" class="form-control form-control-sm" style="border:solid lightblue 3px; border-radius:5px;"/>
                                        <span asp-validation-for="PatientId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label asp-for="PatientName" class="col-sm-3 col-form-label col-form-label-md">Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" value="" name="PatientName" class="form-control form-control-sm" style="border:solid lightblue 3px; border-radius:5px;" />
                                        <span asp-validation-for="PatientName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">

                                    <label asp-for="Address" class="col-sm-3 col-form-label col-form-label-md">Address</label>
                                    <div class="col-sm-8">
                                        <input asp-for="Address" value="" name="Address" class="form-control form-control-sm" style="border:solid lightblue 3px; border-radius:5px;" />
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label asp-for="Contact" class="col-sm-3 col-form-label col-form-label-md">Contact</label>
                                    <div class="col-sm-8">
                                        <input asp-for="Contact" value="" name="Contact" class="form-control form-control-sm" style="border:solid lightblue 3px; border-radius:5px;" />
                                        <span asp-validation-for="Contact" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-3 col-form-label col-form-label-md">Services</label>
                                    <div class="col-sm-8">
                                        <select class="form-select form-select-sm" id="services" name="Services" style="border:solid lightblue 3px; border-radius:5px;">

                                            <option style="font-weight:bolder"  value="Consultation-NEW">Consultation-NEW</option>
                                            <option style="font-weight:bolder" value="Consultation-REVIEW">Consultation-REVIEW</option>
                                        </select>
                                        <span asp-validation-for="Services" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label asp-for="Amount" class="col-sm-3 col-form-label col-form-label-md">Amount</label>
                                    <div class="col-sm-8">
                                        <input asp-for="Amount" value="" name="Amount" class="form-control form-control-sm" style="border:solid lightblue 3px; border-radius:5px;" />
                                        <span asp-validation-for="Amount"  class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label asp-for="Date" class="col-sm-3 col-form-label col-form-label-md">Date</label>
                                    <div class="col-sm-8">
                                        <input type="date" asp-for="Date" name="Date" placeholder="YYYY-MM-DD" class="form-control form-control-sm" style="border:solid lightblue 3px; border-radius:5px;" />
                                        <span asp-validation-for="Date" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group d-inline-flex">
                                    <input type="submit" value="Create" class="btn btn-primary" style="margin-right:30px;"/>

                                    <h6 class="fadeInOut" style="animation-duration: 2s;">
                                        @ViewBag.success
                                    </h6>

                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div></a>
}
@if (User.IsInRole("admin"))
{
    <div class="alert-primary d-flex justify-content-center">
        <h5 style="text-align:center; font-weight:bold; color:darkblue; margin-left:-22%; margin-right:20%;"> Search Records by Date</h5>
        @using (Html.BeginForm("DailyRecordsOPD", "OPD", FormMethod.Post))
        {
            <input type="date" value="" placeholder="YYYY-MM-DD" name="date" style="border:solid lightblue 3px; border-end-start-radius:5px;" />
            <button type="submit" class="btn btn-primary btn-outline-light">Daily Records</button>
        }
    </div>
    <a href="">
        <div class="d-flex justify-content-center">

            <div class="card col-md-5 border-2">

                <div class="card-header d-inline-flex justify-content-start bg-primary ">
                    <a asp-action="Create"><button class="btn-warning" style="border-radius:5px;">Refresh</button></a>
                    <div style="margin-left:15%;"></div>
                    <h4 style="text-align:center;color:white;">Patient Registry </h4>

                </div>
                <div class="card-body col-md-12 alert-primary" style="display:flex; justify-content:space-between;">
                    <div class="row col-md-12">
                        <div class="col-md-12">
                            @using (Html.BeginForm("Create", "OPD", FormMethod.Post))
                            {
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row mb-3">
                                    <label asp-for="PatientId" class="col-sm-3 col-form-label col-form-label-md">OPD No</label>
                                    <div class="col-sm-8">
                                        <input type="text" value="" name="PatientId" class="form-control form-control-sm" style="border:solid lightblue 3px; border-radius:5px;" />
                                        <span asp-validation-for="PatientId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label asp-for="PatientName" class="col-sm-3 col-form-label col-form-label-md">Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" value="" name="PatientName" class="form-control form-control-sm" style="border:solid lightblue 3px; border-radius:5px;" />
                                        <span asp-validation-for="PatientName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">

                                    <label asp-for="Address" class="col-sm-3 col-form-label col-form-label-md">Address</label>
                                    <div class="col-sm-8">
                                        <input asp-for="Address" value="" name="Address" class="form-control form-control-sm" style="border:solid lightblue 3px; border-radius:5px;" />
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label asp-for="Contact" class="col-sm-3 col-form-label col-form-label-md">Contact</label>
                                    <div class="col-sm-8">
                                        <input asp-for="Contact" value="" name="Contact" class="form-control form-control-sm" style="border:solid lightblue 3px; border-radius:5px;" />
                                        <span asp-validation-for="Contact" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-3 col-form-label col-form-label-md">Services</label>
                                    <div class="col-sm-8">
                                        <select class="form-select form-select-sm" id="services" name="Services" style="border:solid lightblue 3px; border-radius:5px;">

                                            <option style="font-weight:bolder" value="Consultation-NEW">Consultation-NEW</option>
                                            <option style="font-weight:bolder" value="Consultation-REVIEW">Consultation-REVIEW</option>
                                        </select>
                                        <span asp-validation-for="Services" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label asp-for="Amount" class="col-sm-3 col-form-label col-form-label-md">Amount</label>
                                    <div class="col-sm-8">
                                        <input asp-for="Amount" value="" name="Amount" class="form-control form-control-sm" style="border:solid lightblue 3px; border-radius:5px;" />
                                        <span asp-validation-for="Amount" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label asp-for="Date" class="col-sm-3 col-form-label col-form-label-md">Date</label>
                                    <div class="col-sm-8">
                                        <input type="date" asp-for="Date" name="Date" placeholder="YYYY-MM-DD" class="form-control form-control-sm" style="border:solid lightblue 3px; border-radius:5px;" />
                                        <span asp-validation-for="Date" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group d-inline-flex">
                                    <input type="submit" value="Create" class="btn btn-primary" style="margin-right:30px;" />

                                    <h6 class="fadeInOut" style="animation-duration: 2s;">
                                        @ViewBag.success
                                    </h6>

                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </a>
}
@if (User.IsInRole("revenue"))
{
    <div class="alert-primary d-flex justify-content-center">
        <p style="margin-left:-20%;margin-right:10%">
            <a asp-controller="OPD" asp-action="OpdHome">Back</a>
        </p>
        <h5 style="text-align:center; font-weight:bold; color:darkblue; margin-right:5%;"> Search Records by Date</h5>
        @using (Html.BeginForm("DailyRecordsREV", "OPD", FormMethod.Post))
        {
            <input type="date" value="" placeholder="YYYY-MM-DD" name="date" style="border:solid lightblue 3px; border-end-start-radius:5px;" />
            <button type="submit" class="btn btn-primary btn-outline-light">Daily Records</button>
        }
    </div>
    <a href="">
        <div class="d-flex justify-content-center">

            <div class="card col-md-5 border-2">

                <div class="card-header d-inline-flex justify-content-start bg-primary ">
                    <a asp-action="Create"><button class="btn-warning" style="border-radius:5px;">Refresh</button></a>
                    <div style="margin-left:15%;"></div>
                    <h4 style="text-align:center;color:white;">Patient Registry </h4>

                </div>
                <div class="card-body col-md-12 alert-primary" style="display:flex; justify-content:space-between;">
                    <div class="row col-md-12">
                        <div class="col-md-12">
                            @using (Html.BeginForm("CreateRev", "OPD", FormMethod.Post))
                            {
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                             
                                <div class="row mb-3">
                                    <label asp-for="PatientName" class="col-sm-3 col-form-label col-form-label-md">Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" value="" name="PatientName" class="form-control form-control-sm" style="border:solid lightblue 3px; border-radius:5px;" />
                                        <span asp-validation-for="PatientName" class="text-danger"></span>
                                    </div>
                                </div>
                               
                                <div class="row mb-3">
                                    <label class="col-sm-3 col-form-label col-form-label-md">Services</label>
                                    <div class="col-sm-8">
                                        <select multiple class="form-select form-select-sm" id="services" name="Services" style="border:solid lightblue 3px; border-radius:5px;">
                                            <option style="font-weight:bolder" value="VFT">VFT (Visual Fields Test)</option>
                                            <option style="font-weight:bolder" value="OCT">OCT</option>
                                            <option style="font-weight:bolder" value="Macula">Macula</option>
                                            <option style="font-weight:bolder" value="Pachymetry">Pachymetry</option>
                                            <option style="font-weight:bolder" value="RetinalImaging">Retinal Imaging</option>
                                            <option style="font-weight:bolder" value="Frame">Frame sales</option>
                                        </select>
                                        <span asp-validation-for="Services" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label asp-for="Amount" class="col-sm-3 col-form-label col-form-label-md">Amount</label>
                                    <div class="col-sm-8">
                                        <input asp-for="Amount" value="" name="Amount" class="form-control form-control-sm" style="border:solid lightblue 3px; border-radius:5px;" />
                                        <span asp-validation-for="Amount" class="text-danger"></span>
                                    </div>
                                </div>
                                <input type="hidden" asp-for="Status" name="Status"value="Paid"/>
                                <div class="row mb-3">
                                    <label asp-for="Date" class="col-sm-3 col-form-label col-form-label-md">Date</label>
                                    <div class="col-sm-8">
                                        <input type="date" asp-for="Date" name="Date" placeholder="YYYY-MM-DD" class="form-control form-control-sm" style="border:solid lightblue 3px; border-radius:5px;" />
                                        <span asp-validation-for="Date" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group d-inline-flex">
                                    <input type="submit" value="Create" class="btn btn-primary" style="margin-right:30px;" />

                                    <h6 class="fadeInOut" style="animation-duration: 2s;">
                                        @ViewBag.success
                                    </h6>

                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </a>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
