@{
}
<div style="background-color:cornflowerblue;height:400px;">
    <div class="card col-md-6" style="margin-left:auto; margin-right:auto;">
        <div class="card-header">

            <a asp-controller="OPD" asp-action="Edit"><button class="btn-primary" style="border-radius:5px;">Back</button></a>
        </div>

        <div class="card-body">
            <h5 style="text-align:center">Try Again</h5>
        </div>
    </div>
</div>
