
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h3 class="display-6 overlay">Your Vision Our Priority.</h3>
    <div style="display:flex; justify-content:center;">
        <img src="~/Images/ivue-oct.jpg" style="width:90%;height:450px;" />
    </div>
</div>


