
@{
}


<button class="btn-success" style="border-radius:5px;"><a asp-controller="OPD" asp-action="Create" style="text-decoration:none; text-align:center;color:white;">Back</a></button>
<br />
<br />

<div class="card fadeInOut alert-primary" style="display:flex; margin:auto; justify-content:center;width:60%">
    <h3 style="text-align:center; color:brown">Update was successful</h3>
    </div>


