
        
<p>
    <button class="btn-success" style="border-radius:5px;"><a asp-controller="OPD" asp-action="Create" style="text-decoration:none;color:white">Back</a></button>

</p>
       <br />
        <div class="card fadeInOut alert-primary" style="display:flex; margin:auto; justify-content:center;width:60%">
        <h3 style="text-align:center; color:brown">Patient's Record is Successfully Deleted</h3>
    </div>
 